<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Nissin Lab</title>

    <!-- Metatags para Open Graph -->
    <meta property="og:title" content="Laboratório do Nissin" />
    <meta property="og:description" content="Seja bem-vivdo ao Nissin Lab, aqui você poderá encontrar todos os projetos dos membros da nossa comunidade." />
    <meta property="og:type" content="website" />

    <!-- Metatags para Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Laboratório do Nissin" />
    <meta name="twitter:description" content="Seja bem-vivdo ao Nissin Lab, aqui você poderá encontrar todos os projetos dos membros da nossa comunidade." />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet" />

    <!-- Estilos -->
    <link href="./css/main.css" rel="stylesheet">
    <link href="./css/menu.css" rel="stylesheet">
    <link href="./css/content.css" rel="stylesheet">
    <link href="./css/responsive.css" rel="stylesheet">
</head>


<body>
    <div class="background">
        <div class="circle circle1"></div>
    </div>

    <!-- Menu -->
    <%- include('partials/header') %>

    <div class="sla3">
        <ul class="sla2">
            <li><a href="https://www.github.com/Kauzxx00" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.discord.com/users/kauzx00" target="_blank"><i class="fab fa-discord"></i></a></li>
        </ul>
    </div>

    <main id="carousel">
        <div class="carousel-container">

            <section class="content" id="about">
                <div class="home">
                    <div class="comp">
                        <img alt="seila" src="./images/circle.svg">
                    </div>
                    <div class="infos">
                        <h2>Bem vindo(a) ao</h2>
                        <h1><span class="digitando">Nissin Lab.</span></h1>
                        <p>Aqui você verá todos os projetos dos membros da nossa
                            comunidade para lhe inspirar a fazer os
                            <span class="color">Seus Projetos</span>.
                        </p>
                        <div class="btn-about">
                            <a href="#more" class="corner-button"><span>Saiba Mais</span></a>
                        </div>
                    </div>
                    <div class="image">
                        <img alt="seila" src="./images/dev.svg">
                    </div>
                </div>

                <div id="more">
                    <%- include('projects/list') %>
                </div>
            </section>

            <section class="content" id="project">
                <div id="projects">
                    <h2>Meus Projetos</h2>
                    <ul>
                        <li>
                            <h3>Projeto 1: Database LucasL</h3>
                            <h1>Descrição: Um sistema de gerenciamento de banco de dados eficiente e intuitivo, criado
                                para facilitar a manipulação de dados.</h1>
                            <a href="https://github.com/seu-usuario/projeto-database-lucasl" target="_blank"
                                rel="noopener noreferrer">
                                Ver no GitHub
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="content" id="contact">
                <h2>Entre em Contato</h2>
                <p>Fique à vontade para entrar em contato comigo pelas redes sociais abaixo:</p>

                <div class="social-icons">
                    <a href="https://www.github.com/Kauzxx00" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.discord.com" target="_blank">
                        <i class="fab fa-discord"></i>
                    </a>
                </div>
            </section>
        </div>
    </main>

    <script src="./js/script.js"></script>
</body>

</html>